<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Stop RingTone", :description => "
      Stop the currently playing ringtone.
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>

  	<div>
	    Playing: <%= $selected %><br/>
      <a href="<%= url_for :action => :stop %>" data-role="button">Stop</a>
	  </div>

</div>