<div data-role="page">

  <%= render :partial => "/partials/page_head" %>
    
  <div data-role="content">
  
    <%= render :partial => "/partials/example_header", :locals => {:title => "Transactions", :description => "
      Transactions
    " }
    %>

    <%= render :partial => "/partials/language_tabs" %>
    
    <div class="sample ruby">
      <a href="<%= url_for :action => :transactions %>" data-role="button">Transactions</a>
    </div>
    
    <div class="sample javascript">
          <a href="#" data-role="button" onclick="KitchenSink.Samples.Database.transactions()">Transactions</a>
    </div>
    

    <table>
      <tr>
        <th>User ID</th><th>Active</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user["user_id"] %></td><td><%= user["active"] == 1 ? "Yes" : "No" %></td>
      </tr>
      <% end %>
    </table>
      
    <a href="<%= url_for :action => :confirm_seed_db %>" data-role="button">Re-seed DB to see changes</a>
  </div>
