<div data-role="page">

<%= render :partial => "/partials/page_head" %>
  
<div data-role="content">

  <%= render :partial => "/partials/example_header", :locals => {:title => "Choose camera", :description => "
    On devices with more than one camera, you can select which camera to use for taking pictures
  " }
  %>

  <%= render :partial => "/partials/language_tabs" %>

  <div data-role="content">
    <div class="sample ruby">
        <% $cameras.each_with_index do |camera, index| %>
          <a href="<%= url_for(:action => :take_picture_using_chosen_camera, :query => {:camera_index => index}) %>" data-role="button"><%= camera.cameraType %></a> 
        <% end %>
    </div>
    <div class="sample javascript">
      <a href="#" onclick="KitchenSink.Samples.Camera.choose_camera()" data-role="button">Choose camera</a>
      <div id="camera_list">
      </div>
    </div>    
  </div>

</div>