<div data-role="page">

    
  <div data-role="header" data-position="inline">
    <h1>Camera samples</h1>
  </div>

  <div data-role="content">
    <h2>Ruby</h2>
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :take_picture_with_default_camera %>">Take a picture with default camera/settings</a></li>
      <li><a href="<%= url_for :action => :choose_camera %>">Allow user to choose camera</a></li>
      <li><a href="<%= url_for :action => :determine_camera_capabilities %>">Determine camera capabilities</a></li>
      <li><a href="<%= url_for :action => :edit_image_properties %>">Control image properties (size, resolution, etc)</a></li>
      <li><a href="<%= url_for :action => :select_picture_from_gallery %>">Select picture from gallery</a></li>
      <li><a href="<%= url_for :action => :take_picture_and_save_it_to_gallery %>">Take picture and save it to the gallery</a></li>
    </ul>
    
    <h2>Javascript</h2>
    <ul data-role="listview">
      <li><a href="#" onclick="KitchenSink.Samples.Camera.take_picture_with_default_camera()">Take a picture with default camera/settings</a></li>
      <li><a href="#" onclick="KitchenSink.Samples.Camera.choose_camera()">Allow user to choose camera</a>
        <div id="camera_list">
        </div>
      </li>
      <li><a href="#" onclick="KitchenSink.Samples.Camera.determine_camera_capabilities()">Determine camera capabilities</a>
        <div id="camera_capabilities">
        </div>
      </li>
      <li><a href="#" onclick="KitchenSink.Samples.Camera.control_image_properties()">Control image properties (size, resolution, etc)</a></li>
      <li><a href="#" onclick="KitchenSink.Samples.Camera.take_picture_and_save_it_to_gallery()">Interaction with Gallery</a></li>
    </ul>
        
    
    <img id="captured_image">
  </div>

  <script type="text/javascript">

  </script>
</div>
